BraveSoftware/
cherrytree/
dconf/
evolution/
github-copilot/
gnome-session/
goa-1.0/
gtk-3.0/
gtk-4.0/
htop/
hypr/
ibus/
libfm/
light/
mimeapps.list
monitors.xml*
nautilus/
neofetch/
pcmanfm/
pulse/
ranger/
spotify/
sway/
Thunar/
user-dirs.*
xfce4/
zed/
